## Ignore Visual Studio temporary files, build results

# Visual Studio cache/options directory
*.suo
*.user
*.tmp
*.cache
*.sln.docstates
*.lock.json
.vs/
launch.json

# Build results
binaries/
[Dd]ebug*/
[Rr]elease/
build/
bin/
obj/

# Visual Studio profiler
*.psess
*.vsp

# Sensitive files
*.keys
*.pfx
*.json.env
*.bicep.env

# Unity Asset file
Unity/*/Assets/Art
Unity/*/Assets/Audio
Unity/*/Library
Unity/*/Temp
