## Ignore Visual Studio temporary files, build results

# Visual Studio cache/options directory
*.suo
*.user
*.tmp
*.cache
*.sln.docstates
*.lock.json
.vs/


# Build results
csharp/*/*/bin
csharp/*/*/obj
csharp/*/packages

# Visual Studio profiler
*.psess
*.vsp

# Sensitive files
*.keys
*.pfx
*.json.env
*.bicep.env
