

.banner{
    float:left;
    width: 100%;
}

.mainContainer{
    float:left;
    width: 100%;
    height: 800px;
    background-image: url("../img/background4.jpg");
    z-index: -2;/*设置图层为-2*/
    background-size: cover;     /*背景size设置为：cover，可以填满屏幕*/
}

.mainContainer .mask_bg{
    filter: blur(50px);
    z-index: -1;/*设置图层为-2*/
    width: 100%;
    height: 800px;
}

.container .culture_title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color:rgb(58, 50, 3);
}

.container .cultureBlock{
    width: 100%;
    height: 400px;
    padding: 50px;
    font-size: 18px;
    background-color: rgba(240, 240, 236, 0.781);

}

.container .cultureBlock span{
    font-size: 22px;
    color: gray;
}

.cultureBlock  p {
    text-indent: 2em;
}