.container .detail {
    display: inline;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}
.container .detail img{
    max-width: 100%;
    max-height: 100%;
}

body{
    background-image: url("../img/repeat_background.jpg");
    top: 0;
    left: 0;
    z-index: -2;/*设置图层为-2*/
    width: 100%;
    background-size: contain;     /*背景size设置为：cover，可以填满屏幕*/
    background-repeat: repeat;
}