a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


a {
    text-decoration: none;
    color: #458B74;
}

li a{
    color:azure;
}

li a:hover{
    color:aquamarine;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top:20px;
    padding-bottom:10px;
    /*white-space: nowrap;*/
    background: rgb(46, 44, 44);
}

    .footer p {
        height: auto;
        /*margin-top:5px auto;*/
    }
